{% extends 'base.html.twig' %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Login'|trans }}</h1>
    {% if error %}
        <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="form-group row">
            <label for="username" class="col-sm-3 col-md-2">E-Mail</label>
            <input type="text" class="form-control col-sm-9 col-md-10" id="username" name="_username" value="{{ last_username }}"/>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-3 col-md-2">Passwort</label>
            <input type="password" class="form-control col-sm-9 col-md-10" id="password" name="_password"/>

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"/> #}
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary offset-sm-3 offset-md-2">Login</button>
        </div>
    </form>
{% endblock %}
