<!DOCTYPE html>
<html class="no-js" lang="{{ app.request.getLocale() }}{% if 'en' == app.request.getLocale() %}-us{% endif %}"
      prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile# place: http://ogp.me/ns/place# books: http://ogp.me/ns/books#"
      data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}
            {% if pageMeta is defined and pageMeta.title is defined %}{{ pageMeta.title }} | {% endif %}
            {{ siteName|trans({}, 'additional') }}
            {% endblock %}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap-4.6.2-dist/css/bootstrap.min.css">
            <!-- For bootstrap 4, use fontawesome instead of glyphicon -->
            <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" type="text/css" rel="stylesheet">
            {#
                triggers scssphp, this one doesn't prepend app.request.basepath
                since it overrides \Symfony\Bridge\Twig\Extension\AssetExtension
                and doesn't prepend $this->getBasePath().ltrim($versionedPath, '/')
                as in Symfony\Component\Asset\PathPackage
            #}
            <link href="{{ app.request.basepath }}{{ asset('css/base.css') }}" rel="stylesheet">
            {#{ encore_entry_link_tags('app') }#}
        {% endblock %}
        <script src="{{ app.request.basepath }}/vendor/jquery-3.5.1.min.js"></script>
        {% block javascripts %}
            <!-- Latest compiled and minified JavaScript -->
            <script src="{{ app.request.basepath }}/vendor/bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js"></script>
            {#{ encore_entry_script_tags('app') }#}
        {% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="{{ app.request.basepath }}/img/logo.png" style="height: 100px; width: auto" alt="{{ siteName|trans({}, 'additional') }}" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="{{ 'Toggle navigation'|trans }}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link{% if false %} active" aria-current="page{% endif %}" href="{{ path('library') }}">Bibliothek</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('person-index') }}">Autor:innen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('history') }}">Geschichte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pädagogik</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Über
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" href="{{ path('about-project') }}">Projekt</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ path('about-related') }}">Weitere Initiativen</a></li>
                            </ul>
                        </li>
                    </ul>
                    {#
                    <form class="d-flex mt-3 mt-lg-0" role="search">
                        <input class="form-control me-2" type="search" placeholder="{{ 'Search'|trans }}" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">{{ 'Search'|trans }}</button>
                    </form>
                    #}
                </div><!-- #navbarCollapse -->
            </div><!-- .container-fluid -->
        </nav>
        <div class="container my-5">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
